*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 75%;
  max-width: 800px;
  margin:  2rem auto;
  padding: 1rem;
  background-color: gray;
  border-radius: 1rem;
}